html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body.dark-mode {
    color: #fff;
    background: #363537;
    /*dark mode styles */
}

body.light-mode {
    color: #363537;
    background: #fafafa;
    /* light mode styles */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}